.chat-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat {
    position: relative;
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    flex-grow: 1;
    min-height: 0;
}

.chat-friend-list-wrapper {
    width: 30%;
    border-right: 1px solid #ccc;
}

.chat-list-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-list-header a {
    display: flex;
    border: 1px solid #cccccc7e;
    border-radius: 5px;
    padding: 0.5rem;
    gap: 1rem;
}

.chat-list-header .name-date {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
}

.chat-list-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.chat-list-loader {
    height: 100%;
}

.chat-list-wrapper {
    width: 70%;
}

.chat-controls {
    display: flex;
    gap: 0.5rem;
}

.chat-controls input[type="file"] {
    display: none;
}

.friend-list-opener {
    display: none;
    align-self: flex-start;
    margin: 0.5rem;
}

@media (max-width: 768px) {
    .chat {
        flex-direction: column;
    }

    .friend-list-opener {
        display: block;
    }

    .chat-friend-list-wrapper {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        border: 1px solid black;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.747);
        backdrop-filter: blur(5px);
    }

    .chat-friend-list-wrapper.active {
        display: block;
    }

    .chat-list-wrapper {
        width: 100%;
    }
}
