.editable-names {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: .5rem;
    margin: .5rem;
}

.editable-names input {
    max-width: 10rem;
}

.user-information input,
.user-information select {
    width: 100%;
}
