.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 10px;
}

.navbar a {
    margin-right: auto;
}

.search-results {
    position: absolute;
    max-height: 500px;
    width: 400px;
    max-width: 100%;
    top: 100%;
    right: 50px;
    z-index: 1;
}

@media (max-width: 768px) {
    .search-results {
        right: 0
    }
}
