.notification-list-wrapper {
    text-align: left;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.397);
    background-color: rgba(0, 0, 0, 0.863);
    margin: 0;
}

.notification-list {
    display: inline-flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.notification-list > li {
    display: flex;
    border-bottom: 1px solid white;
    padding: 10px;
}

.notification-list a {
    display: flex;
    align-items: center;
}

.notification-list div:has(img) {
    padding: 5px;
    margin-right: auto;
}

.notification-list img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
