.uploaded-image {
    position: relative;
}

.uploaded-image label {
    text-align: center;
    position: absolute;
    right: 50%;
    bottom: 50%;
    transform: translate(50%, 50%);
    padding: 10px;
}

.uploaded-image label {
    text-align: center;
}

.uploaded-image input[type="file"] {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}

label:has(input[type="file"]:focus) {
    border: 2px solid #0b685e;
}

.image-editor {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 10px;
}

.image-editor .ReactCrop {
    min-height: 0;
    flex-grow: 1;
}

.ReactCrop__child-wrapper,
.image-editor img {
    height: 100%;
}
